<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="LOCADORAConnectionString" connectionString="Data Source=.\sqlExpress;Initial Catalog=LOCADORA;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LOCADORAConnectionString2" connectionString="Data Source=.\sqlExpress;Initial Catalog=LOCADORA;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LOCADORAConnectionString3" connectionString="Data Source=.\sqlexpress;Initial Catalog=LOCADORA;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LOCADORAConnectionString4" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=LOCADORA;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LOCADORAConnectionString5" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=LOCADORA;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LOCADORAConnectionString6" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=LOCADORA;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="LOCADORAConnectionString7" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=LOCADORA;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>